.landing-preview {
   background: #ffffff;
   box-shadow: 0 0 11px #0000002b;
   border-radius: 0.25em;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   background-size: 50%;
   background-repeat: no-repeat;
   background-position: bottom;
   cursor: pointer;
   width: 250px;

   &:hover {
      box-shadow: 3px 3px 3px #00000052;
   }
   .info {
      padding: 10px;
      flex-grow: 1;
      text-align: center;
      h3 {
         font-size: 0.95em;
      }
      img {
         width: 80px;
         height: 80px;
      }
      &:hover {
         text-decoration: none;
         background-color: #00000023;
      }
   }

   .actions {
      flex-basis: 25%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 10px;
      background-color: #000000c9;
      transform: translateY(100%);
      transition: transform 0.2s;
      a {
         color: white;
      }
   }

   &:hover .actions {
      transform: translateY(0);
   }
}
